@import 'normalize';
@import 'animation';

body {
  padding: 64px 0;
  font-family: 'Lato', sans-serif;
  background: #F8F8FF;
  color: #333333;
  animation: 1s fadeIn;
}

p {
  margin: 0 0 16px 0;
}

@import 'headings';
@import 'components/all';
@import 'utilities';

